{% if wo_breadcrumbs()|length %}
	{%- spaceless -%}
		<ul id="{{ listId }}">
			{% for b in breadcrumbs %}
				<li>
					{% if separator is not null and not loop.first %}
						<span class="{{ separatorClass }}">{{- separator -}}</span>
					{% endif %}
					<a href="{{ b.url }}">{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</a>
				</li>
			{% endfor %}
		</ul>
	{%- endspaceless -%}
{% endif %}