<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Travel Mate{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			{% stylesheets filter='cssrewrite, scssphp' output="css/style.css"
			'bundles/tmcore/css/*'
			'bundles/tmplatform/css/*' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
			{% endstylesheets %}
		{% endblock %}
	</head>
	<body>
		<header>
			<h1><a href="{{ path('tm_core_homepage') }}">Travel Mate</a></h1>
		</header>
		<nav>
			<ul>
				<li>
					<a href="{{ path('tm_core_homepage') }}">Accueil</a>
				</li>
				<li>
					<a href="{{ path('tm_platform_homepage') }}">Liste des
						voyages</a>
				</li>
				<li>
					<a href="{{ path('tm_platform_add') }}">Ajouter un voyage</a>
				</li>
			</ul>
		</nav>
		<main>
			{% block main %}
			{% endblock %}
		</main>
		<footer>
			<p>© {{ 'now'|date('Y') }} P. Lefèvre - Tout droit réservé</p>
		</footer>
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			{% javascripts filter='jsqueeze' output="js/script.js"
			'bundles/tmcore/js/*' %}
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}
	</body>
</html>