{% extends "TMPlatformBundle::layout.html.twig" %}

{% block title %}
	aa - {{ parent() }}
{% endblock %}

{% block tmplatform_body %}
	<span id="my-profile-picture" data-path="{{ asset('uploads/user/profilepics/' ~ app.user.getProfilePicturePath) }}" style="display: none"></span>
	<span id="new-message" data-path="{{ path('tm_chat_new_message', {'id' : userReceiver.id}) }}" style="display: none"></span>
	<div id="conversation">
		<div id="list-message-container">
			<ul id="list-message">
				{% for message in messages %}
					<li {{ message.sender.id == app.user.id ? 'class="me"' : null }}>
						<div class="profile-picture" style="background-image: url({{ asset
						('uploads/user/profilepics/' ~ message.sender.getProfilePicturePath) }})"></div>
						<div class="content">
							<p>{{ message.content }}</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		{{ form_start(form, { 'action': path('tm_chat_user', {'id' : userReceiver.id}),
			'attr':{'id':"send-message-form"} }) }}

		{{ form_errors(form) }}

		{{ form_widget(form.content) }}
		{{ form_errors(form.content) }}

		{{ form_rest(form) }}

		<input type="submit" id="send-button" class="button success" value="Envoyer">

		{{ form_end(form) }}
	</div>
{% endblock %}