{% extends "TMCoreBundle::layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/tmcore/css/home.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/tmplatform/css/form-search.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/tmplatform/css/list.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/tmuser/css/profile-picture.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/tmplatform/css/flags.css') }}">
{% endblock %}

{% block title %}
	Accueil
{% endblock %}

{% block classBody %}with-background{% endblock %}

{% block main %}
	<div id="home-title">
		<h2>Trouvez le compagnon de voyage qui<br>vous correspond !</h2>
	</div>
	<div class="home-bloc">
		{{ include("TMPlatformBundle:Travel:form_search_travel.html.twig") }}
	</div>
	<div id="home-space">
	</div>
	<div class="home-bloc">
		<h2>Derniers voyages ajoutés</h2>
		{{ render(controller("TMPlatformBundle:Travel:last", {'limit': 9})) }}
	</div>
{% endblock %}