{{ form_start(form, {'attr': {'class': 'form-search'}}) }}
{{ form_errors(form) }}
<div class="input-part">
	<div class="first-line-input">
		{{ form_errors(form.countries) }}
		{{ form_widget(form.countries, {'placeholder': 'Pays'}) }}
	</div>
	<div class="second-line-input">
		{{ form_label(form.begin, null, {'label_attr': {'class': ''}}) }}
		{{ form_errors(form.begin) }}
		{{ form_widget(form.begin) }}
		{{ form_label(form.end, null, {'label_attr': {'class': ''}}) }}
		{{ form_errors(form.end) }}
		{{ form_widget(form.end) }}
	</div>
	<div class="third-line-input">
		<div>
			{{ form_errors(form.categories) }}
			{{ form_widget(form.categories, {'attr': {'class': ''}}) }}
		</div>
		<div>
			{{ form_errors(form.nbDuration) }}
			{{ form_widget(form.nbDuration, {'attr': {'class': ''}}) }}
			{{ form_errors(form.typeDuration) }}
			{{ form_widget(form.typeDuration, {'attr': {'class': ''}}) }}
		</div>
		<div>
			{{ form_errors(form.cost) }}
			{{ form_widget(form.cost, {'attr': {'class': ''}}) }}
		</div>
	</div>
</div>
<div class="submit-part">
	{{ form_widget(form.submit) }}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}