{% extends "TMPlatformBundle::layout.html.twig" %}
{% block title %}
	Accueil - {{ parent() }}
{% endblock %}
{% block tmplatform_body %}
	{{ include("TMPlatformBundle:Travel:form_search.html.twig") }}
	<p class="nb-results">{{ nbResults }} voyages correspondent à votre recherche
		.</p>
	{{ include("TMPlatformBundle:Travel:list.html.twig") }}
	<ul class="paging">
		{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
		{% for p in range(1, nbPages) %}
			<li{% if p == page %} class="active"{% endif %}>
				<a href="{{ path('tm_platform_home', {'page': p}) }}">{{ p }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
