<ul class="list-travel">
	{% for travel in travels %}
		<li>
			<a href="{{ path('tm_user_profile_show', {'id': travel.user.id}) }}">
				<div class="profile-picture" style="background-image: url({{ asset('uploads/user/profilepics/' ~
				travel.user.getProfilePicturePath) }})"></div>
			</a>
			<a href="{{ path('tm_platform_view', {'id': travel.id}) }}">
				<div class="description">
					<div class="sheet-effect">
						<div class="bottom-curve"></div>
						<div class="left-curve"></div>
					</div>
					<p class="value">{{ travel.title }}</p>
					<div class="countries">
						<p>Pays :</p>
						<ul>
							{% for country in travel.countries %}
								<li>
									<div class="flag flag-{{ country|lower }}"></div>
									<p>{{ country|country(app.request.locale) }}</p>
								</li>
							{% endfor %}
						</ul>
					</div>
					<p>
						Départ le : <span class="value">
							{{ travel.startDate|date('d/m/Y') }}
						</span>
					</p>
					<p>
						Durée : <span class="value">
							{{ travel.nbDuration }} {{ travel.frTypeDuration }}
						</span>
					</p>
					<p>
						Type de voyage : <span class="value">
							{% for category in travel.categories %}
								{{ category.name }}
								{% if not loop.last %}
									 -
								{% endif %}
							{% endfor %}
						</span>
					</p>
					<p>
						Description : <span class="value">
							{{ travel.content|truncate(350, false, '...') }}
						</span>
					</p>
					<p class="value">{{ travel.user.firstname|capitalize }} {{ travel.user.lastname|capitalize }} - {{ travel.user.age }} ans</p>
				</div>
			</a>
		</li>
	{% endfor %}
</ul>