{% extends "TMPlatformBundle::layout.html.twig" %}

{% block title %}
	Rechercher un voyage
{% endblock %}

{% block tmplatform_body %}
	{{ wo_render_breadcrumbs() }}
	{{ include("TMPlatformBundle:Travel:form_search.html.twig") }}
	<p class="nb-results">{{ nbResults }} voyages correspondent à votre recherche.</p>
	{{ include("TMPlatformBundle:Travel:list.html.twig") }}
	{% if nbPages > 1 %}
		<ul class="paging">
			{% for p in range(1, nbPages) %}
				<li{% if p == page %} class="active"{% endif %}>
					<a href="{{ path('tm_platform_search', {'page': p}) }}">{{ p }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
